Vagrant.configure("2") do |config|
	config.vm.box = "VMR/FakeBox"
	config.vm.synced_folder "./", "/vmr"
	config.vm.synced_folder ".", "/vagrant", disabled: true
	config.vm.define "vmr-FakeBox-virtualbox" do |d|
	end
	config.vm.communicator = "ssh"
	config.ssh.insert_key = false
end
